<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Embedding Sim Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Embedding Sim Result</h1>
    <p th:text="'stringA: ' + ${embedding_pair.stringA}" />
    <p th:text="'stringB: ' + ${embedding_pair.stringB}" />
    <p th:text="'similarityTechnique: ' + ${embedding_pair.similarityTechnique}" />
    <p th:text="'similarity: ' + ${embedding_pair.similarity}" />
    <a href="/embedding_sim_demo">Submit another message</a>
</body>
</html>
