<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Embedding Sim Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Embedding Sim Form</h1>
<form action="#" th:action="@{/embedding_sim_demo}" th:object="${embedding_pair}" method="post">
    <p>stringA: <input type="text" th:field="*{stringA}" /></p>
    <p>stringB: <input type="text" th:field="*{stringB}" /></p>
    <p>similarityTechnique:</p>
        <select th:field="*{similarityTechnique}">
            <option th:each="similarityTechnique : ${T(edu.illinois.cs.cogcomp.embedding_sim.EmbeddingSim.SimilarityTechnique).values()}"
                    th:value="${similarityTechnique}"
                    th:text="${similarityTechnique}">
            </option>
        </select>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
